.navGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
  }
  
  .commentGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* светлая граница */
  }

  .topHeaderGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* светлая граница */
  }

  .topNavigateGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* светлая граница */
  }

  .buttonGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* светлая граница */
  }

  .gameOverGlass {
    background: rgba(0, 0, 0, 0.1); /* полупрозрачный белый фон */
    backdrop-filter: blur(10px);          /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
  }
